<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>
  <p>posted at <%= post.created_at.strftime('%D') %></p>
  <p><%= post.body %></p>
<% end %>

<%= link_to 'New post', new_post_path %>
